<html>
    <body>
        <h3 style="text-align: center;">API-Trigger-Tasks-( Enterprise Bot assignment )</h3>
        <div align="center">
            <form action="/train" method="POST">
                <input type="submit" value="Train-API">
            </form>

            <form action="/result" method="POST">
                <input class="input_word" id="input1" name="input_word">

                <input type="submit" value="Classification-API">
            </form>
        </div>
    </body>
</html>